html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    line-height: 1.5;
    background-color: #000925;
}


.info {
    margin: 1rem 20px 0;
    background: #041325;
    color: #0d2035;
    text-align: left;
    float: bottom;

}

.list {
    margin-left: 20px;
}


button {
    background-color:#8659A4;
    border: none;
    padding: 5px;
    margin: 1px 1px 1px 1px;
    color: white;
}

.roomCreation{
    padding-left: 50px;
}

.buttons {
    padding-top: 10px;
}

input[type=text] {
background-color: #4e4b67;
    border: none;
    color:white;
    display: flex;
    width:70%;
    margin-bottom: 8px;
}


