
.nav__submenu {
    display: none;
}

.nav__menu-item:hover .nav__submenu {
    display: block;
}
.menu-container {
    text-align: center;
}

nav ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.nav {
    margin: 0rem auto 0;
    background: #595386;
    color: #fff;
    text-align: left;

}
.nav a {
    display: block;
    padding: 0 16px;
    line-height: inherit;
    cursor: pointer;

}

.nav__menu {
    line-height: 45px;
    font-weight: 400;
    text-transform: uppercase;
}

.nav__menu-item {
    display: inline-block;
    position: relative;
}
.nav__menu-item:hover {
    background-color: #00aeef;
}
.nav__menu-item:hover .nav__submenu {
    display: block;
}

.nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 100%;
    background-color: #00aeef;
}

.nav__submenu-item:hover {


}
